@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

/* Custom dark mode styles */
.dark .bg-gray-800 {
  background-color: #1a202c;
}
.dark .text-white {
  color: #fff;
}